{
    "zero_force_ds_cpu_optimizer": false,
    "zero_allow_untested_optimizer": true,
    "bfloat16": {
        "enabled": "auto"
    },
    "zero_optimization": {
        "stage": 3,
        "allgather_partitions": true,
        "allgather_bucket_size": 2e6,
        "overlap_comm": true,
        "reduce_scatter": true,
        "reduce_bucket_size": 2e6,
        "contiguous_gradients": true,

    },
    "gradient_accumulation_steps": 8,
    "gradient_clipping": 1.0,
    "train_micro_batch_size_per_gpu": 1
}